.head {
  width: 100%;
  margin-bottom: 32px;
}

.head-title {
  font-weight: 500;
  font-size: 32px;
  color: #333333;
}

.head-description {
  margin-top: 8px;
  font-size: 16px;
  color: #666666;
}

.head-link {
  color: #333333;
}

@media screen and (max-width: 420px) {
 .head-title {
  font-size: 24px;
 }
}